*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(226, 206, 206);
}

.row{
    background: white;
    border-radius: 30px;
    box-shadow: 6px 6px 11px rgb(175, 154, 154);
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
#btnSignIn{
    font-weight: bold;
}
#btnSignIn:hover{
    background:rgb(51, 51, 104);
    border: 1px solid;
    border-color:rgb(51, 51, 104);
}
#btn-register-user:hover{
    background:rgb(51, 51, 104);
    border: 1px solid;
    border-color:rgb(51, 51, 104);
}
.form-register-user{
    background: white;
    border-radius: 30px;
    box-shadow: 6px 6px 11px rgb(175, 154, 154);
}



